/* ================= LibraryList ================= */
.library-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 10px;
  gap: 1rem;
  max-width: 1200px;
  margin: 2rem auto 0 auto;
  padding: 0 10px;
  margin-bottom: 10px;
}

/* Nút Xem thêm */
.button-see-more {
  text-align: center;
  margin: 2.5rem 0 4rem 0;
}

/* ================= Responsive ================= */

/* Tablet (từ 768px đến 1399px) */
@media (max-width: 1399px) and (min-width: 768px) {
  .library-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0 15px;
  }
}

/* Mobile (<768px) */
@media (max-width: 767px) {
  .library-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    padding: 0 8px;
  }

  .button-see-more {
    margin: 1.5rem 0 2.5rem 0;
  }
}
